@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #18181b; /* zinc-900 */
}
